@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.footer {
    font-size: 18px;
    width: 100%;
    max-height: fit-content!important;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
  
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
  
.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 1rem;
}

.footer-logo {
    display: flex;
    align-items: center;
} 

.footer-logo-img {
    width: 70px;
    height: 70px;

}
.footer-menu {
    list-style: none;
    padding: 30px;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
  
.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
  
.footer-bottom p {
    margin: 0;
}
  
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .footer-menu{
        text-align: left;
    }
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}
