@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition: .2s linear;
}

.home{
    min-height: 100vh;
    display:flex;
    align-items:center;
    background:url(../Images/aromaterapi-00.jpeg) no-repeat;
    background-size:cover;
    background-position:center;

}
.section{
    padding:2rem 7%;
}
@media (max-width:991px){
    
    html{
        font-size:55%;

    }
    
}
.home .content{
    max-width:60rem;
}
    .home .content h3 {
        font-size: 6rem;
        text-transform: uppercase;
        color: #0f2515;
        margin-left: 3rem;
    }
    .home .content p {
        font-size: 2rem;
        line-height: 1.8;
        padding: 1rem 0;
        color: #0f2515;
        margin-left:3rem;
    }
.html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top:9rem;
    scroll-behavior:smooth;
}

html::-webkit-scrollbar-track{
    background:#257a3d;
}
html::-webkit-scrollbar-thumb{
    background:#ffffff;
    border-radius:4rem;
}
html::-webkit-scrollbar{
    width:.6rem;
}
body{
    background:#fff;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #0f2515;
    cursor: pointer;
    margin-left:3rem;
}
.btn:hover{
    border: solid 1px #0f2515;
    opacity: 0.8;
    background-color: #0f2515;
    color: #fff;
}
.heading {
    text-align: center;
    color: #0f2515;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 3rem;
}
.heading span{
    color:#000000;
    text-transform:uppercase;
}

.about .row{
    display:flex;
    align-items:center;
    background:#164824;
    flex-wrap:wrap;
    width:100%!important;
    margin:0!important;
}
.about .row .image{
    flex:1 1 45rem;
}   
.about .row .image img{
    width:100%;
    padding:2rem;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
    
}
.about .row .content h3{
    font-size:3rem;
    color:#fff;
    
}
.about .row .content p{
    font-size:1.6rem;
    color:#fff;
    padding:1rem 0;
    line-height:1.8;
    
}

.about .row .content .btn{
    margin-top:1rem;
    margin-left:0;
    display:inline-block;
    padding:.9rem 3rem;
    font-size:1.7rem;
    color:#fff;
    background:#0f2515;
    cursor:pointer;
}
