				  
                  
.personal-info{
    font-size: 15px;
    font-weight: bold;
    color: #feecd4;
    margin-bottom: 1rem;
}
.main_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(../Images/desert.jpg) ;
    background-size: cover;
    background-position: center;
}

.rowinfo{
    padding: 20px;
    width: 60%;
    height: 100%;
    border-style: none;
    border-radius: 25px;
    border-color: transparent ;
    background: linear-gradient(to bottom,   #3f190e, #974d15);
}

.avatar{
width:200px;
height:200px;
}				              